* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scrollbar-width: thin;
}

body {
  background-image: url("./images/BG\ RUSHABH2Artboard\ 1@3x.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
  background-image: url("./images/BG\ RUSHABH2Artboard\ 1@3x.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  writing-mode: vertical-lr;
}

@media (max-width: 768px) {
  h1 {
    writing-mode: horizontal-tb;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-img-overlay {
    flex-direction: column;
    justify-content: space-around !important;
  }

  .card {
    height: 100vh;
  }
}
